<div class="page-container">
    <div class="page">
    <button><a href="/login">I already have an account</a></button>
    <button><a href="/register">No, I dont have any account</a></button>
    </div>
    
</div>