<div id="form-container">
    
<form action="/login" method="POST">
    LOGIN
<div>
    <label for="Email">Email</label>
    <input type="text" id="email" placeholder="Email" name="email" required>
</div>
<div>
    <label for="Password">Password</label>
    <input type="password" id="password" placeholder="Password" name="password" required>
</div>
<button type="submit">Login</button>
<button><a href="/register">Need an account?</a></button>
</form>

</div>

