<div id="form-container">
<form action="/register" method="POST">
    REGISTER
<div>
    <label for="Name">Name</label>
    <input type="text" id="name" placeholder="Name" name="name"required>
    
</div>

<div>
    <label for="Email">Email</label>
    <input type="text" id="email" placeholder="Email"  name="email"required>
</div>
<div>
    <label for="Password">Password</label>
    <input type="password" id="password" placeholder="Password" name="password" required>
</div>
<button type="submit">Register</button>
<button><a href="/login">Login?</a></button>
</form>

</div>

